<footer class="footer">
	<div class="footer-items explore-wrap">
		<p class="footer-text">年中盛典，精选商品7折起，欢迎选购</p>
		<a class="explore-more" href="">探索更多</a>
	</div>
	<div class="footer-items mail-wrap">
		<div class="form-group is-error">
			<p class="footer-text">输入您的电子邮箱，获取CALVIN KLEIN最新消息</p>
			<div class="form-input">
				<input class="form-control" type="text" placeholder="请输入邮箱地址">
				<div class="msg">
					邮箱不能为空
				</div>
			</div>
		</div>
		<div class="follow-us">
			<p class="footer-text">关注我们</p>
			<div class="follow-icon">
				<i class="icon icon-alipay"></i>
				<i class="icon icon-ems-cart"></i>
				<i class="icon icon-sf-cart"></i>
			</div>
		</div>
	</div>
	<div class="footer-items">
		<ul class="footer-menu">
			<li><a href="">联系客服</a></li>
			<li><a href="">购物指南</a></li>
			<li><a href="">探索</a></li>
			<li><a href="">关于我们</a></li>
			<li><a href="">联系我们</a></li>
		</ul>
	</div>
	<div class="footer-items copyright-wrap">
		<p class="footer-text">鹏卫齐商业上海有限公司</p>
		<p class="footer-text">沪ICP备14016998号-1</p>
		<p class="footer-text police">沪公网安备31010602000010号</p>
		<p class="footer-text">隐私政策</p>
		<p class="footer-text">条款申明</p>
	</div>
	<div class="footer-flex">
		<li>首页</li>
		<li>分类</li>
		<li>发现</li>
		<li>购物车</li>
		<li>我</li>
	</div>
</footer>
