@charset "utf-8";
@import "../../sprite/styles/sprites.less";
.icon {
	display: inline-block;
	background-image: url('../images/icon.png');
	vertical-align: middle;
}

// pc icon
	.icon-crm {
		.sprite(@crm);
	}
	.icon-n {
		.sprite(@n);
	}
	.icon-metro {
		.sprite(@metro);
	}
	.icon-oms {
		.sprite(@oms);
	}

@media screen and (max-width: 1024px),
screen and (-webkit-min-device-pixel-ratio:2),
screen and (min--moz-device-pixel-ratio:2),
screen and (-o-min-device-piratio:200/100),
screen and (min-device-pixel-ratio:2) {

	.icon {
		background-image: url('../images/icon@2x.png');
		.icon-size();
	}
}

// mob icon
@media screen and (max-width: 1024px) {
	.icon-crm {
		.sprite(@crm-m);
	}
}


