@charset "utf-8";
@import "../../sprite/styles/sprites.less";
.icon {
	display: inline-block;
<<<<<<< HEAD
	background-image: url('../images/icon.png');
=======
	background-image: url("../images/icon.png");
>>>>>>> c266b2b6f21c3aaee0fba6fa4623e0b60cd0a345
	vertical-align: middle;
}
// pc icon
.icon-crm {
	.sprite(@crm);
}
.icon-software {
	.sprite(@software);
}
<<<<<<< HEAD
.icon-crm {
	.sprite(@crm);
}
.icon-n {
	.sprite(@n);
}
.icon-metro {
	.sprite(@metro);
}
.icon-oms {
	.sprite(@oms);
}

=======
.icon-acer {
	.sprite(@acer);
}
>>>>>>> c266b2b6f21c3aaee0fba6fa4623e0b60cd0a345

@media screen and (max-width: 1024px),
screen and (-webkit-min-device-pixel-ratio:2),
screen and (min--moz-device-pixel-ratio:2),
screen and (-o-min-device-piratio:200/100),
screen and (min-device-pixel-ratio:2) {

	.icon {
<<<<<<< HEAD
		background-image: url('../images/icon@2x.png');
=======
		background: url("../images/icon@2x.png");
>>>>>>> c266b2b6f21c3aaee0fba6fa4623e0b60cd0a345
		.icon-size();
	}
}

<<<<<<< HEAD
// mob
@media screen and (max-width: 1024px) {
}
=======

// mob icon
@media screen and (max-width: 1024px) {
	.icon-crm {
		.sprite(@crm-m);
	}
	.icon-software {
		.sprite(@software-m);
	}
}
>>>>>>> c266b2b6f21c3aaee0fba6fa4623e0b60cd0a345
