@charset "utf-8";
@import "../../sprite/styles/sprites.less";
.icon {
	display: inline-block;
	background-image: url("../../images/icon.png");
	vertical-align: middle;
}
.icon-alipay {
	.sprite(@alipay);
}
.icon-ems-cart {
	.sprite(@ems-cart);
}
.icon-sf-cart {
	.sprite(@sf-cart);
}
.icon-menu {
	.sprite(@menu);
}
@media screen and (max-width: 1024px),
screen and (-webkit-min-device-pixel-ratio:2),
screen and (min--moz-device-pixel-ratio:2),
screen and (-o-min-device-piratio:200/100),
screen and (min-device-pixel-ratio:2) {

	.icon {
		background: url("../../images/icon@2x.png");
	}

	.icon-alipay {
		.retina-sprite(@alipay);
	}
	.icon-ems-cart {
		.retina-sprite(@ems-cart);
	}
	.icon-sf-cart {
		.retina-sprite(@sf-cart);
	}
	.icon-menu {
		.retina-sprite(@menu);
	}
}
