@acer-name: 'acer';
@acer-x: 190px;
@acer-y: 0px;
@acer-offset-x: -190px;
@acer-offset-y: 0px;
@acer-width: 102px;
@acer-height: 61px;
@acer-total-width: 292px;
@acer-total-height: 180px;
@acer-image: 'icon.png';
@acer: 190px 0px -190px 0px 102px 61px 292px 180px 'icon.png' 'acer';
@b2b-name: 'b2b';
@b2b-x: 87px;
@b2b-y: 102px;
@b2b-offset-x: -87px;
@b2b-offset-y: -102px;
@b2b-width: 65px;
@b2b-height: 65px;
@b2b-total-width: 292px;
@b2b-total-height: 180px;
@b2b-image: 'icon.png';
@b2b: 87px 102px -87px -102px 65px 65px 292px 180px 'icon.png' 'b2b';
@crm-m-name: 'crm-m';
@crm-m-x: 0px;
@crm-m-y: 102px;
@crm-m-offset-x: 0px;
@crm-m-offset-y: -102px;
@crm-m-width: 82px;
@crm-m-height: 78px;
@crm-m-total-width: 292px;
@crm-m-total-height: 180px;
@crm-m-image: 'icon.png';
@crm-m: 0px 102px 0px -102px 82px 78px 292px 180px 'icon.png' 'crm-m';
@crm-name: 'crm';
@crm-x: 0px;
@crm-y: 0px;
@crm-offset-x: 0px;
@crm-offset-y: 0px;
@crm-width: 103px;
@crm-height: 97px;
@crm-total-width: 292px;
@crm-total-height: 180px;
@crm-image: 'icon.png';
@crm: 0px 0px 0px 0px 103px 97px 292px 180px 'icon.png' 'crm';
@metro-name: 'metro';
@metro-x: 157px;
@metro-y: 102px;
@metro-offset-x: -157px;
@metro-offset-y: -102px;
@metro-width: 22px;
@metro-height: 22px;
@metro-total-width: 292px;
@metro-total-height: 180px;
@metro-image: 'icon.png';
@metro: 157px 102px -157px -102px 22px 22px 292px 180px 'icon.png' 'metro';
@n-name: 'n';
@n-x: 108px;
@n-y: 0px;
@n-offset-x: -108px;
@n-offset-y: 0px;
@n-width: 77px;
@n-height: 88px;
@n-total-width: 292px;
@n-total-height: 180px;
@n-image: 'icon.png';
@n: 108px 0px -108px 0px 77px 88px 292px 180px 'icon.png' 'n';
@oms-name: 'oms';
@oms-x: 190px;
@oms-y: 66px;
@oms-offset-x: -190px;
@oms-offset-y: -66px;
@oms-width: 96px;
@oms-height: 52px;
@oms-total-width: 292px;
@oms-total-height: 180px;
@oms-image: 'icon.png';
@oms: 190px 66px -190px -66px 96px 52px 292px 180px 'icon.png' 'oms';
@software-m-name: 'software-m';
@software-m-x: 239px;
@software-m-y: 123px;
@software-m-offset-x: -239px;
@software-m-offset-y: -123px;
@software-m-width: 27px;
@software-m-height: 27px;
@software-m-total-width: 292px;
@software-m-total-height: 180px;
@software-m-image: 'icon.png';
@software-m: 239px 123px -239px -123px 27px 27px 292px 180px 'icon.png' 'software-m';
@software-name: 'software';
@software-x: 190px;
@software-y: 123px;
@software-offset-x: -190px;
@software-offset-y: -123px;
@software-width: 44px;
@software-height: 44px;
@software-total-width: 292px;
@software-total-height: 180px;
@software-image: 'icon.png';
@software: 190px 123px -190px -123px 44px 44px 292px 180px 'icon.png' 'software';


@spritesheet-width: 292px;
@spritesheet-height: 180px;
@spritesheet-image: 'icon.png';
@spritesheet-sprites: @acer @b2b @crm-m @crm @metro @n @oms @software-m @software;
@spritesheet: 292px 180px 'icon.png' @spritesheet-sprites;



@acer-2x-name: 'acer@2x';
@acer-2x-x: 380px;
@acer-2x-y: 0px;
@acer-2x-offset-x: -380px;
@acer-2x-offset-y: 0px;
@acer-2x-width: 204px;
@acer-2x-height: 122px;
@acer-2x-total-width: 584px;
@acer-2x-total-height: 360px;
@acer-2x-image: 'icon@2x.png';
@acer-2x: 380px 0px -380px 0px 204px 122px 584px 360px 'icon@2x.png' 'acer@2x';
@b2b-2x-name: 'b2b@2x';
@b2b-2x-x: 174px;
@b2b-2x-y: 204px;
@b2b-2x-offset-x: -174px;
@b2b-2x-offset-y: -204px;
@b2b-2x-width: 130px;
@b2b-2x-height: 130px;
@b2b-2x-total-width: 584px;
@b2b-2x-total-height: 360px;
@b2b-2x-image: 'icon@2x.png';
@b2b-2x: 174px 204px -174px -204px 130px 130px 584px 360px 'icon@2x.png' 'b2b@2x';
@crm-m-2x-name: 'crm-m@2x';
@crm-m-2x-x: 0px;
@crm-m-2x-y: 204px;
@crm-m-2x-offset-x: 0px;
@crm-m-2x-offset-y: -204px;
@crm-m-2x-width: 164px;
@crm-m-2x-height: 156px;
@crm-m-2x-total-width: 584px;
@crm-m-2x-total-height: 360px;
@crm-m-2x-image: 'icon@2x.png';
@crm-m-2x: 0px 204px 0px -204px 164px 156px 584px 360px 'icon@2x.png' 'crm-m@2x';
@crm-2x-name: 'crm@2x';
@crm-2x-x: 0px;
@crm-2x-y: 0px;
@crm-2x-offset-x: 0px;
@crm-2x-offset-y: 0px;
@crm-2x-width: 206px;
@crm-2x-height: 194px;
@crm-2x-total-width: 584px;
@crm-2x-total-height: 360px;
@crm-2x-image: 'icon@2x.png';
@crm-2x: 0px 0px 0px 0px 206px 194px 584px 360px 'icon@2x.png' 'crm@2x';
@metro-2x-name: 'metro@2x';
@metro-2x-x: 314px;
@metro-2x-y: 204px;
@metro-2x-offset-x: -314px;
@metro-2x-offset-y: -204px;
@metro-2x-width: 44px;
@metro-2x-height: 44px;
@metro-2x-total-width: 584px;
@metro-2x-total-height: 360px;
@metro-2x-image: 'icon@2x.png';
@metro-2x: 314px 204px -314px -204px 44px 44px 584px 360px 'icon@2x.png' 'metro@2x';
@n-2x-name: 'n@2x';
@n-2x-x: 216px;
@n-2x-y: 0px;
@n-2x-offset-x: -216px;
@n-2x-offset-y: 0px;
@n-2x-width: 154px;
@n-2x-height: 176px;
@n-2x-total-width: 584px;
@n-2x-total-height: 360px;
@n-2x-image: 'icon@2x.png';
@n-2x: 216px 0px -216px 0px 154px 176px 584px 360px 'icon@2x.png' 'n@2x';
@oms-2x-name: 'oms@2x';
@oms-2x-x: 380px;
@oms-2x-y: 132px;
@oms-2x-offset-x: -380px;
@oms-2x-offset-y: -132px;
@oms-2x-width: 192px;
@oms-2x-height: 104px;
@oms-2x-total-width: 584px;
@oms-2x-total-height: 360px;
@oms-2x-image: 'icon@2x.png';
@oms-2x: 380px 132px -380px -132px 192px 104px 584px 360px 'icon@2x.png' 'oms@2x';
@software-m-2x-name: 'software-m@2x';
@software-m-2x-x: 478px;
@software-m-2x-y: 246px;
@software-m-2x-offset-x: -478px;
@software-m-2x-offset-y: -246px;
@software-m-2x-width: 54px;
@software-m-2x-height: 54px;
@software-m-2x-total-width: 584px;
@software-m-2x-total-height: 360px;
@software-m-2x-image: 'icon@2x.png';
@software-m-2x: 478px 246px -478px -246px 54px 54px 584px 360px 'icon@2x.png' 'software-m@2x';
@software-2x-name: 'software@2x';
@software-2x-x: 380px;
@software-2x-y: 246px;
@software-2x-offset-x: -380px;
@software-2x-offset-y: -246px;
@software-2x-width: 88px;
@software-2x-height: 88px;
@software-2x-total-width: 584px;
@software-2x-total-height: 360px;
@software-2x-image: 'icon@2x.png';
@software-2x: 380px 246px -380px -246px 88px 88px 584px 360px 'icon@2x.png' 'software@2x';


@retina-spritesheet-width: 584px;
@retina-spritesheet-height: 360px;
@retina-spritesheet-image: 'icon@2x.png';
@retina-spritesheet-sprites: @acer-2x @b2b-2x @crm-m-2x @crm-2x @metro-2x @n-2x @oms-2x @software-m-2x @software-2x;
@retina-spritesheet: 584px 360px 'icon@2x.png' @retina-spritesheet-sprites;


@acer-group-name: 'acer';
@acer-group: 'acer' @acer @acer-2x;
@b2b-group-name: 'b2b';
@b2b-group: 'b2b' @b2b @b2b-2x;
@crm-m-group-name: 'crm-m';
@crm-m-group: 'crm-m' @crm-m @crm-m-2x;
@crm-group-name: 'crm';
@crm-group: 'crm' @crm @crm-2x;
@metro-group-name: 'metro';
@metro-group: 'metro' @metro @metro-2x;
@n-group-name: 'n';
@n-group: 'n' @n @n-2x;
@oms-group-name: 'oms';
@oms-group: 'oms' @oms @oms-2x;
@software-m-group-name: 'software-m';
@software-m-group: 'software-m' @software-m @software-m-2x;
@software-group-name: 'software';
@software-group: 'software' @software @software-2x;
@retina-groups: @acer-group @b2b-group @crm-m-group @crm-group @metro-group @n-group @oms-group @software-m-group @software-group;




.sprite-width(@sprite) {
	width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
	height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
	@sprite-offset-x: extract(@sprite, 3);
	@sprite-offset-y: extract(@sprite, 4);
	background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite(@sprite) {
	.sprite-position(@sprite);
	.sprite-width(@sprite);
	.sprite-height(@sprite);
}


.sprite-background-size(@sprite) {
	@sprite-total-width: extract(@sprite, 7);
	@sprite-total-height: extract(@sprite, 8);
	background-size: @sprite-total-width @sprite-total-height;
}

.icon-size(){
	background-size: @spritesheet-width @spritesheet-height;
}

.retina-sprite(@retina-sprite) {
	.sprite-background-size(@retina-sprite);
}
