@alipay-name: 'alipay';
@alipay-x: 190px;
@alipay-y: 0px;
@alipay-offset-x: -190px;
@alipay-offset-y: 0px;
@alipay-width: 80px;
@alipay-height: 30px;
@alipay-total-width: 270px;
@alipay-total-height: 180px;
@alipay-image: 'icon.png';
@alipay: 190px 0px -190px 0px 80px 30px 270px 180px 'icon.png' 'alipay';
@crm-m-name: 'crm-m';
@crm-m-x: 0px;
@crm-m-y: 102px;
@crm-m-offset-x: 0px;
@crm-m-offset-y: -102px;
@crm-m-width: 82px;
@crm-m-height: 78px;
@crm-m-total-width: 270px;
@crm-m-total-height: 180px;
@crm-m-image: 'icon.png';
@crm-m: 0px 102px 0px -102px 82px 78px 270px 180px 'icon.png' 'crm-m';
@crm-name: 'crm';
@crm-x: 0px;
@crm-y: 0px;
@crm-offset-x: 0px;
@crm-offset-y: 0px;
@crm-width: 103px;
@crm-height: 97px;
@crm-total-width: 270px;
@crm-total-height: 180px;
@crm-image: 'icon.png';
@crm: 0px 0px 0px 0px 103px 97px 270px 180px 'icon.png' 'crm';
@ems-cart-name: 'ems-cart';
@ems-cart-x: 190px;
@ems-cart-y: 35px;
@ems-cart-offset-x: -190px;
@ems-cart-offset-y: -35px;
@ems-cart-width: 80px;
@ems-cart-height: 30px;
@ems-cart-total-width: 270px;
@ems-cart-total-height: 180px;
@ems-cart-image: 'icon.png';
@ems-cart: 190px 35px -190px -35px 80px 30px 270px 180px 'icon.png' 'ems-cart';
@metro-name: 'metro';
@metro-x: 190px;
@metro-y: 70px;
@metro-offset-x: -190px;
@metro-offset-y: -70px;
@metro-width: 22px;
@metro-height: 22px;
@metro-total-width: 270px;
@metro-total-height: 180px;
@metro-image: 'icon.png';
@metro: 190px 70px -190px -70px 22px 22px 270px 180px 'icon.png' 'metro';
@n-name: 'n';
@n-x: 108px;
@n-y: 0px;
@n-offset-x: -108px;
@n-offset-y: 0px;
@n-width: 77px;
@n-height: 88px;
@n-total-width: 270px;
@n-total-height: 180px;
@n-image: 'icon.png';
@n: 108px 0px -108px 0px 77px 88px 270px 180px 'icon.png' 'n';
@oms-name: 'oms';
@oms-x: 87px;
@oms-y: 102px;
@oms-offset-x: -87px;
@oms-offset-y: -102px;
@oms-width: 96px;
@oms-height: 52px;
@oms-total-width: 270px;
@oms-total-height: 180px;
@oms-image: 'icon.png';
@oms: 87px 102px -87px -102px 96px 52px 270px 180px 'icon.png' 'oms';


@spritesheet-width: 270px;
@spritesheet-height: 180px;
@spritesheet-image: 'icon.png';
@spritesheet-sprites: @alipay @crm-m @crm @ems-cart @metro @n @oms;
@spritesheet: 270px 180px 'icon.png' @spritesheet-sprites;



@alipay-2x-name: 'alipay@2x';
@alipay-2x-x: 380px;
@alipay-2x-y: 0px;
@alipay-2x-offset-x: -380px;
@alipay-2x-offset-y: 0px;
@alipay-2x-width: 160px;
@alipay-2x-height: 60px;
@alipay-2x-total-width: 540px;
@alipay-2x-total-height: 360px;
@alipay-2x-image: 'icon@2x.png';
@alipay-2x: 380px 0px -380px 0px 160px 60px 540px 360px 'icon@2x.png' 'alipay@2x';
@crm-m-2x-name: 'crm-m@2x';
@crm-m-2x-x: 0px;
@crm-m-2x-y: 204px;
@crm-m-2x-offset-x: 0px;
@crm-m-2x-offset-y: -204px;
@crm-m-2x-width: 164px;
@crm-m-2x-height: 156px;
@crm-m-2x-total-width: 540px;
@crm-m-2x-total-height: 360px;
@crm-m-2x-image: 'icon@2x.png';
@crm-m-2x: 0px 204px 0px -204px 164px 156px 540px 360px 'icon@2x.png' 'crm-m@2x';
@crm-2x-name: 'crm@2x';
@crm-2x-x: 0px;
@crm-2x-y: 0px;
@crm-2x-offset-x: 0px;
@crm-2x-offset-y: 0px;
@crm-2x-width: 206px;
@crm-2x-height: 194px;
@crm-2x-total-width: 540px;
@crm-2x-total-height: 360px;
@crm-2x-image: 'icon@2x.png';
@crm-2x: 0px 0px 0px 0px 206px 194px 540px 360px 'icon@2x.png' 'crm@2x';
@ems-cart-2x-name: 'ems-cart@2x';
@ems-cart-2x-x: 380px;
@ems-cart-2x-y: 70px;
@ems-cart-2x-offset-x: -380px;
@ems-cart-2x-offset-y: -70px;
@ems-cart-2x-width: 160px;
@ems-cart-2x-height: 60px;
@ems-cart-2x-total-width: 540px;
@ems-cart-2x-total-height: 360px;
@ems-cart-2x-image: 'icon@2x.png';
@ems-cart-2x: 380px 70px -380px -70px 160px 60px 540px 360px 'icon@2x.png' 'ems-cart@2x';
@metro-2x-name: 'metro@2x';
@metro-2x-x: 380px;
@metro-2x-y: 140px;
@metro-2x-offset-x: -380px;
@metro-2x-offset-y: -140px;
@metro-2x-width: 44px;
@metro-2x-height: 44px;
@metro-2x-total-width: 540px;
@metro-2x-total-height: 360px;
@metro-2x-image: 'icon@2x.png';
@metro-2x: 380px 140px -380px -140px 44px 44px 540px 360px 'icon@2x.png' 'metro@2x';
@n-2x-name: 'n@2x';
@n-2x-x: 216px;
@n-2x-y: 0px;
@n-2x-offset-x: -216px;
@n-2x-offset-y: 0px;
@n-2x-width: 154px;
@n-2x-height: 176px;
@n-2x-total-width: 540px;
@n-2x-total-height: 360px;
@n-2x-image: 'icon@2x.png';
@n-2x: 216px 0px -216px 0px 154px 176px 540px 360px 'icon@2x.png' 'n@2x';
@oms-2x-name: 'oms@2x';
@oms-2x-x: 174px;
@oms-2x-y: 204px;
@oms-2x-offset-x: -174px;
@oms-2x-offset-y: -204px;
@oms-2x-width: 192px;
@oms-2x-height: 104px;
@oms-2x-total-width: 540px;
@oms-2x-total-height: 360px;
@oms-2x-image: 'icon@2x.png';
@oms-2x: 174px 204px -174px -204px 192px 104px 540px 360px 'icon@2x.png' 'oms@2x';


@retina-spritesheet-width: 540px;
@retina-spritesheet-height: 360px;
@retina-spritesheet-image: 'icon@2x.png';
@retina-spritesheet-sprites: @alipay-2x @crm-m-2x @crm-2x @ems-cart-2x @metro-2x @n-2x @oms-2x;
@retina-spritesheet: 540px 360px 'icon@2x.png' @retina-spritesheet-sprites;


@alipay-group-name: 'alipay';
@alipay-group: 'alipay' @alipay @alipay-2x;
@crm-m-group-name: 'crm-m';
@crm-m-group: 'crm-m' @crm-m @crm-m-2x;
@crm-group-name: 'crm';
@crm-group: 'crm' @crm @crm-2x;
@ems-cart-group-name: 'ems-cart';
@ems-cart-group: 'ems-cart' @ems-cart @ems-cart-2x;
@metro-group-name: 'metro';
@metro-group: 'metro' @metro @metro-2x;
@n-group-name: 'n';
@n-group: 'n' @n @n-2x;
@oms-group-name: 'oms';
@oms-group: 'oms' @oms @oms-2x;
@retina-groups: @alipay-group @crm-m-group @crm-group @ems-cart-group @metro-group @n-group @oms-group;




.sprite-width(@sprite) {
	width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
	height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
	@sprite-offset-x: extract(@sprite, 3);
	@sprite-offset-y: extract(@sprite, 4);
	background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite(@sprite) {
	.sprite-position(@sprite);
	.sprite-width(@sprite);
	.sprite-height(@sprite);
}


.sprite-background-size(@sprite) {
	@sprite-total-width: extract(@sprite, 7);
	@sprite-total-height: extract(@sprite, 8);
	background-size: @sprite-total-width @sprite-total-height;
}

.icon-size(){
	background-size: @spritesheet-width @spritesheet-height;
}

.retina-sprite(@retina-sprite) {
	.sprite-background-size(@retina-sprite);
}