@arr-name: 'arr';
@arr-x: 54px;
@arr-y: 21px;
@arr-offset-x: -54px;
@arr-offset-y: -21px;
@arr-width: 12px;
@arr-height: 12px;
@arr-total-width: 70px;
@arr-total-height: 46px;
@arr-image: 'icon.png';
@arr: 54px 21px -54px -21px 12px 12px 70px 46px 'icon.png' 'arr';
@close-name: 'close';
@close-x: 0px;
@close-y: 29px;
@close-offset-x: 0px;
@close-offset-y: -29px;
@close-width: 17px;
@close-height: 17px;
@close-total-width: 70px;
@close-total-height: 46px;
@close-image: 'icon.png';
@close: 0px 29px 0px -29px 17px 17px 70px 46px 'icon.png' 'close';
@down-name: 'down';
@down-x: 22px;
@down-y: 29px;
@down-offset-x: -22px;
@down-offset-y: -29px;
@down-width: 16px;
@down-height: 16px;
@down-total-width: 70px;
@down-total-height: 46px;
@down-image: 'icon.png';
@down: 22px 29px -22px -29px 16px 16px 70px 46px 'icon.png' 'down';
@menu-name: 'menu';
@menu-x: 29px;
@menu-y: 0px;
@menu-offset-x: -29px;
@menu-offset-y: 0px;
@menu-width: 20px;
@menu-height: 20px;
@menu-total-width: 70px;
@menu-total-height: 46px;
@menu-image: 'icon.png';
@menu: 29px 0px -29px 0px 20px 20px 70px 46px 'icon.png' 'menu';
@nav-close-name: 'nav-close';
@nav-close-x: 54px;
@nav-close-y: 0px;
@nav-close-offset-x: -54px;
@nav-close-offset-y: 0px;
@nav-close-width: 16px;
@nav-close-height: 16px;
@nav-close-total-width: 70px;
@nav-close-total-height: 46px;
@nav-close-image: 'icon.png';
@nav-close: 54px 0px -54px 0px 16px 16px 70px 46px 'icon.png' 'nav-close';
@search-name: 'search';
@search-x: 0px;
@search-y: 0px;
@search-offset-x: 0px;
@search-offset-y: 0px;
@search-width: 24px;
@search-height: 24px;
@search-total-width: 70px;
@search-total-height: 46px;
@search-image: 'icon.png';
@search: 0px 0px 0px 0px 24px 24px 70px 46px 'icon.png' 'search';


@spritesheet-width: 70px;
@spritesheet-height: 46px;
@spritesheet-image: 'icon.png';
@spritesheet-sprites: @arr @close @down @menu @nav-close @search;
@spritesheet: 70px 46px 'icon.png' @spritesheet-sprites;



@arr-2x-name: 'arr@2x';
@arr-2x-x: 108px;
@arr-2x-y: 42px;
@arr-2x-offset-x: -108px;
@arr-2x-offset-y: -42px;
@arr-2x-width: 24px;
@arr-2x-height: 24px;
@arr-2x-total-width: 140px;
@arr-2x-total-height: 92px;
@arr-2x-image: 'icon@2x.png';
@arr-2x: 108px 42px -108px -42px 24px 24px 140px 92px 'icon@2x.png' 'arr@2x';
@close-2x-name: 'close@2x';
@close-2x-x: 0px;
@close-2x-y: 58px;
@close-2x-offset-x: 0px;
@close-2x-offset-y: -58px;
@close-2x-width: 34px;
@close-2x-height: 34px;
@close-2x-total-width: 140px;
@close-2x-total-height: 92px;
@close-2x-image: 'icon@2x.png';
@close-2x: 0px 58px 0px -58px 34px 34px 140px 92px 'icon@2x.png' 'close@2x';
@down-2x-name: 'down@2x';
@down-2x-x: 44px;
@down-2x-y: 58px;
@down-2x-offset-x: -44px;
@down-2x-offset-y: -58px;
@down-2x-width: 32px;
@down-2x-height: 32px;
@down-2x-total-width: 140px;
@down-2x-total-height: 92px;
@down-2x-image: 'icon@2x.png';
@down-2x: 44px 58px -44px -58px 32px 32px 140px 92px 'icon@2x.png' 'down@2x';
@menu-2x-name: 'menu@2x';
@menu-2x-x: 58px;
@menu-2x-y: 0px;
@menu-2x-offset-x: -58px;
@menu-2x-offset-y: 0px;
@menu-2x-width: 40px;
@menu-2x-height: 40px;
@menu-2x-total-width: 140px;
@menu-2x-total-height: 92px;
@menu-2x-image: 'icon@2x.png';
@menu-2x: 58px 0px -58px 0px 40px 40px 140px 92px 'icon@2x.png' 'menu@2x';
@nav-close-2x-name: 'nav-close@2x';
@nav-close-2x-x: 108px;
@nav-close-2x-y: 0px;
@nav-close-2x-offset-x: -108px;
@nav-close-2x-offset-y: 0px;
@nav-close-2x-width: 32px;
@nav-close-2x-height: 32px;
@nav-close-2x-total-width: 140px;
@nav-close-2x-total-height: 92px;
@nav-close-2x-image: 'icon@2x.png';
@nav-close-2x: 108px 0px -108px 0px 32px 32px 140px 92px 'icon@2x.png' 'nav-close@2x';
@search-2x-name: 'search@2x';
@search-2x-x: 0px;
@search-2x-y: 0px;
@search-2x-offset-x: 0px;
@search-2x-offset-y: 0px;
@search-2x-width: 48px;
@search-2x-height: 48px;
@search-2x-total-width: 140px;
@search-2x-total-height: 92px;
@search-2x-image: 'icon@2x.png';
@search-2x: 0px 0px 0px 0px 48px 48px 140px 92px 'icon@2x.png' 'search@2x';


@retina-spritesheet-width: 140px;
@retina-spritesheet-height: 92px;
@retina-spritesheet-image: 'icon@2x.png';
@retina-spritesheet-sprites: @arr-2x @close-2x @down-2x @menu-2x @nav-close-2x @search-2x;
@retina-spritesheet: 140px 92px 'icon@2x.png' @retina-spritesheet-sprites;


@arr-group-name: 'arr';
@arr-group: 'arr' @arr @arr-2x;
@close-group-name: 'close';
@close-group: 'close' @close @close-2x;
@down-group-name: 'down';
@down-group: 'down' @down @down-2x;
@menu-group-name: 'menu';
@menu-group: 'menu' @menu @menu-2x;
@nav-close-group-name: 'nav-close';
@nav-close-group: 'nav-close' @nav-close @nav-close-2x;
@search-group-name: 'search';
@search-group: 'search' @search @search-2x;
@retina-groups: @arr-group @close-group @down-group @menu-group @nav-close-group @search-group;




.sprite-width(@sprite) {
	width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
	height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
	@sprite-offset-x: extract(@sprite, 3);
	@sprite-offset-y: extract(@sprite, 4);
	background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite(@sprite) {
	.sprite-position(@sprite);
	.sprite-width(@sprite);
	.sprite-height(@sprite);
}


.sprite-background-size(@sprite) {
	@sprite-total-width: extract(@sprite, 7);
	@sprite-total-height: extract(@sprite, 8);
	background-size: @sprite-total-width @sprite-total-height;
}

.icon-size(){
	background-size: @spritesheet-width @spritesheet-height;
}

.retina-sprite(@retina-sprite) {
	.sprite-background-size(@retina-sprite);
}
